.st-emotion-cache-1jmvea6 p {
    font-size: 20px;
}

.st-emotion-cache-13ln4jf {
    width: 100%;
    padding: 1.5rem 0rem 10rem;
}

p, ol, ul, dl {
    margin: 0px 0px 1rem;
    padding: 0px;
    font-size: 20px;
    font-weight: 400;
}


.st-emotion-cache-13ln4jf.ea3mdgi5 p {
    font-size: 20px;
}


.st-emotion-cache-1r4qj8v {
    color: rgb(73 64 64);
}

.link-button {
    background: none;
    border: none;
    color: rgb(232,93,33);
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
    font-family: inherit;
}

.link-button:hover {
    color: darkblue;
}

